.l-header {
  display: flex;
  align-items: end;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 95%;
  padding: var(--size-fluid-1);
  margin: auto;
}

.l-main {
  display: flex;
  flex-direction: column;
  grid-area: main;
  margin: auto;
  width: 100%;
  max-width: 1450px;
  padding: var(--size-fluid-2);
}

.l-footer {
  display: flex;
  flex-direction: column;
  grid-area: footer;
  width: 100%;
  padding: var(--size-fluid-1);
}

/* .l-content {
  flex: 1 0 auto;
  flex-wrap: wrap;
} */

.l-container {
  width: 100%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}
